<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!--<destination>logstash:5000</destination>-->
        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc>
                    <excludeKeys>password,sensitiveData</excludeKeys> <!-- Evitar datos sensibles -->
                </mdc>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "appName": "patron-app",
                        "appVersion": "1.0",
                        "environment": "production",
                        "applicationRegion": "us-east-1",
                        "ipAddress": "${IP_ADDRESS:-unknown}",
                        "instanceId": "instance-1"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="stash"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.viu.patronAPP" level="DEBUG"/>
</configuration>
